<!-- <nb-layout> -->

  <!-- <nb-layout-header fixed>
  </nb-layout-header> -->

  <!-- <nb-layout-column style="padding: 0%;"> -->
    <router-outlet></router-outlet>
  <!-- </nb-layout-column> -->

  <!-- <nb-layout-footer fixed>
  </nb-layout-footer> -->

  <!-- To install fontawesome fonts, install the @fortawesome/fontawesome npm module,
  import it in the app module and to use it in any component just import the icon name
  in the component ts file, and assign it as a variable in the class. Then use it
  in the template as Made with Love <fa-icon [icon]="faGrinHearts"></fa-icon> -->
<!-- </nb-layout> -->
