html, body {
    user-select: none;
}

.title {
    outline: none;
}

.container {
    display: flex;

    .progressmaterial-container{
        margin: 0;
        width: 100%;
        position: absolute;
        transform: translate(-25px, -25px);
    }
}

.input-container {
    width: 350px;
}

.input-wrapper {
    margin-bottom: 20px;

    .name-row {
        display: flex;
        margin-bottom: 5px;
    
        .name-icon {
            color: #3366ff;
            font-size: 30px;
            margin-right: 10px;
        }
    
        .subtitle {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.button-wrapper {
    margin-top: 40px;

    .buttonClass {
        margin-right: 20px;
    }
}


img {
    width: 350px
}

