<!-- template for forgot password -->
    <nb-card>

      <nb-card-header>
        <fa-icon [icon]="faBrain"></fa-icon>&nbsp;&nbsp;&nbsp;
        Having hard time remembering your password?
      </nb-card-header>

      <nb-card-body>
        <div class="inputArea" style="display: flex;">
          <div class="icon-container">
            <nb-icon icon="email"></nb-icon>
          </div>
            <input nbInput
              [(ngModel)]="resetEmail" 
              type="email" 
              placeholder="Enter your email ID" 
              nbTooltip="Enter your Registered email ID to send the password reset link" 
              nbTooltipPlacement="end" 
              fullWidth shape="rectangle">
        </div>
      </nb-card-body>

      <nb-card-footer>
        <button nbButton 
        (click)="close()">
        <nb-icon icon="close"></nb-icon>Close</button>&nbsp;&nbsp;&nbsp;

        <button nbButton 
        status="primary" 
        (click)="submit()">
        <fa-icon [icon]="faPaperPlane"></fa-icon>&nbsp;&nbsp;&nbsp;Send Reset Link</button>
      </nb-card-footer>

    </nb-card>